html {height: 100%;}
body {
    display: table;
    height: 100%; 
    width: 100%;
}

main {
    padding: 0;
    width: 100%;
    margin-top: 50px;
    height: calc(100% - 50px);
}

.sidebar{
    padding-top: 20px;
    margin: 0px;
    width: 20%;
    height: calc(100%);
    background: rgba(107, 221, 105, 0.1);
    display:inline-block;
    text-align: center;
}

.content {
    width:78%;
    height: 100%;
    vertical-align: top;
    display:inline-block;
    padding-bottom: 50px;
}

.myItem {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.myItem__header {
    width: 98%;
    color: #A65532;
    margin: auto;
    margin-bottom:0px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    border-bottom-style: solid;
    border-width: 1px;
}

.myItem__content {
    width: 95%;
    background: rgba(107, 221, 105, 0.1);
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 0px 0px 9px 9px;
}

.myItem__content ul{
    list-style-type: none;
    width: 98%;
    border-radius: 3px;
    margin: auto;
}

.myItem__content li{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.myItem__content li a{
    text-decoration: none;
}

.addButton {
    display: flex;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    border-style: none;
    
}

.addButton img {
    margin-right: 40px;
}